<h1>{{user.name}} {{user.surname}}</h1>
<h2>{{user.email}}</h2>

<div class="container">
    <form action="/admin/news" method="post" class="form">
        <div class="control">
            <input type="text" name="title" placeholder="Title">
        </div>
        <div class="control">
            <span class="reflect-input">An article by {{user.name}} {{user.surname}}</span>
            <input type="hidden" name="author" value="{{user.name}} {{user.surname}}">
        </div>
        <div class="control">
            <textarea name="body" placeholder="Body"></textarea>
        </div>
        <div class="control center-text">
            <button class="button info small">Save</button>
        </div>
    </form>
</div>