<div class="breadcrumbs">
    <a href="/courses">courses</a>
    <a href="/courses/{{parent.id}}">{{parent.name}}</a>
    <a href="/courses/{{parent.id}}/{{course.id}}">{{course.name}}</a>
</div>
<div class="container course">
    <h2>{{course.name}}</h2>
    <p>
        {{{course.description}}}
    </p>
    <hr>
    <a href="{{course.link}}" class="button small primary" target="_blank">View Page</a>
</div>